.vscode/settings.json
*.pyc
*.log
**/.ipynb_checkpoints/
extension/scalalistener/project/
extension/scalalistener/target/
*.egg-info/
extension/dist/
extension/build/
extension/node_modules/
extension/sparkmonitor/static/
extension/docs/
extension/lib/
extension/venv
extension/.ipython
